form {
	margin: 2.5rem 3rem;
}

form section div {
	position: relative;
	margin: 1rem 0 0;
	display: flex;
	align-items: center;
}

form label {
	display: block;
	width: 6rem;
}

input {
	width: 100%;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	border: 1px solid var(--light-300);
}

input:focus {
	outline: 1px solid var(--dark-800);
}

.form__button-container {
	padding: 0.5rem 0 0;
	text-align: end;
}

.form__button-container button {
	margin: 0 0 0 0.5rem;
}

form p {
	text-align: end;
}

.text-no-error {
	display: none;
}

.text-error {
	color: var(--red-800);
}
